$dark-blue: rgb(1, 7, 20);
$shadow-grey : #1e1e1e;

h1,h2,h3,h4,h5,h6{
    font-family: 'Advent Pro', sans-serif;
    color: #622f8a;
    font-weight: bold
}

body{
    font-family: "Segoe UI", "Roboto"
}
/* Navbar styling */
.nav-item
{
    font-family: 'Advent Pro', sans-serif;
}
.navbar
{
    background: $dark-blue
}

/* End Navbar styling */

/* Intro styling */
#hero
{
    background-image: url('../../img/bg.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center
}
/* End Intro styling */

/* Highlights styling */
#highlights
{
    background: $dark-blue
}
/* End Highlights styling */